<div class="parent-div mt-3 pt-5 ps-5 pe-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <h4>About Us</h4>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quod, beatae ipsam quas numquam earum
          unde! Quisquam, deleniti in. Eligendi laudantium provident harum necessitatibus, autem ea! Nulla officia
          expedita ea.</span>
      </div>
      <div class="col-md-4 text-center">
        <h4>Branch Locations</h4>
        <ul>
          <li><span>Jaipur</span></li>
          <li><span>Ajmer</span></li>
          <li><span>New Delhi</span></li>
          <li><span>Gurgaon</span></li>
          <li><span>Kolkata</span></li>
        </ul>
      </div>
      <div class="col-md-4 text-center">
        <h4>Follow Us</h4>
        <ul>
          <li><span>Facebook</span></li>
          <li><span>Instagram</span></li>
          <li><span>Linkedin</span></li>
          <li><span>Twitter</span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid p-3" style="border-top: 1px solid #ddd;">
    <div class="row">
      <div class="col-md-12 text-center">
        <p style="font-size: 1.3rem;">Created By <span style="color: rgb(255, 164, 3);">Kunal Gupta</span> | &copy; All Rights
          Reserved!</p>
      </div>
    </div>
  </div>
</div>
