#main-div {
  margin: 0;
  padding: 0;
  width: 100%;
}

.fixed-header {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background-color: #0F2027;
  justify-content: space-between;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 2;
}

.stick-header {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background-color: #0F2027;
  justify-content: space-between;
}

.logo-div p {
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 1px;
}

.navigations-div ul li {
  display: inline-block;
}

.navigations-div ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

.navigations-div ul li a:hover {
  color: yellow;
  border-bottom: 2px solid white;
}

span.profile-icon,
span.search-icon {
  color: white;
  cursor: pointer;
}

span.profile-icon:hover,
span.search-icon :hover {
  color: yellow;
}

.logo-div {
  width: 15%;
}

.navigations-div {
  width: 70%;
}

.icons-div {
  width: 15%;
}

.search-bar {
  background-color: #0F2027;
  width: 100%;
  border-top: 1px solid grey;
  padding: 10px;
}

.hide-bar {
  display: none;
}

input[type="text"].search-input {
  border: none;
  outline: none;
  background-color: white;
  border: 2px solid #ddd;
  width: 100%;
  font-size: 0.9rem;
}

input[type="text"]:focus {
  border: none;
  outline: none;
  background-color: white;
  border: 2px solid #ddd;
  width: 100%;
  font-size: 0.9rem;
}

.images-div {
  min-height: 100vh !important;
}

img {
  min-height: 100vh;
}

.image1-div {
  background: url("../assets/img/travel-img1.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image2-div {
  background: url("../assets/img/travel-img2.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image3-div {
  background: url("../assets/img/travel-img3.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image4-div {
  background: url("../assets/img/travel-img4.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image5-div {
  background: url("../assets/img/travel-img5.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.text-div h1 {
  color: white;
  font-weight: 700;
  font-size: 3rem;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.text-div p {
  color: white;
  font: 500;
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.line-ht {
  line-height: 40px;
}

