<div class="parent-div pt-5 ps-5 pe-5 pb-2">
  <div class="container-fluid text-center">
    <div class="row">
      <div class="col-md-12">
        <span class="letter me-1">B</span>
        <span class="letter me-1">O</span>
        <span class="letter me-1">O</span>
        <span class="letter me-1">K</span>
        <span class="letter me-1">N</span>
        <span class="letter me-1">O</span>
        <span class="letter me-1">W</span>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col-md-6">
        <img class="img-fluid" src="assets/img/book-img.svg">
      </div>
      <div class="col-md-6 p-5">
        <div class="box-shadow p-5">
          <div class="form-group mb-3">
            <label class="form-label">Where To</label>
            <input type="text" class="form-control" placeholder="search places">
          </div>
          <div class="form-group mb-3">
            <label class="form-label">How Many</label>
            <input type="text" class="form-control" placeholder="number of guests">
          </div>
          <div class="form-group mb-3">
            <label class="form-label">Arrivals</label>
            <input type="date" class="form-control" placeholder="number of guests">
          </div>
          <div class="form-group mb-3">
            <label class="form-label">Deaprture</label>
            <input type="date" class="form-control" placeholder="number of guests">
          </div>
          <div class="btn-div pt-2">
            <button class="btn book-now">Book Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
