@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  word-wrap: break-word;
}
img{
  object-fit: cover;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: none !important;
}

.carousel-indicators [data-bs-target] {
  border-radius: 50%;
  width: 15px !important;
  height: 15px !important;
  position: relative;
  top: -100px;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightseagreen;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
